﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>O Viajante</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/footer/footer-distributed.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <script src="js/modernizr-2.6.2.js"></script>


        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="footer, address, phone, icons" />

        <link rel="stylesheet" href="css/demo.css"/>
        <link rel="stylesheet" href="css/footer/footer-distributed-with-address-and-phones.css"/>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css"/>

    </h:head>
    <h:body>

        <div id="header">
            <nav class="navbar navbar-inverse">

                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar" />
                            <span class="icon-bar" />
                            <span class="icon-bar" />
                        </button>
                        <a class="navbar-brand" href="faces/home.xhtml" id="travelAdvisor">O Viajante</a>
                    </div>

                    <div class="collapse navbar-collapse" id="myNavbar">
                        ﻿
                        <ul id="menuPrincipal" class="nav navbar-nav">

                            <li class="active"><a href="faces/home.xhtml" id="homeMenu">Home</a></li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" id="pacotes">Pacotes <span class="caret" /></a>

                                <ul class="dropdown-menu">

                                    <li>
                                        <h:link outcome="faces/pacotes" value="Promoções">
                                            <f:param name="tipopacote" value="Promoções" />
                                        </h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="faces/pacotes" value="Cruzeiros">
                                            <f:param name="tipopacote" value="Cruzeiros" />
                                        </h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="faces/pacotes" value="Disneyland">
                                            <f:param name="tipopacote" value="Disneyland" />
                                        </h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="faces/pacotes" value="Praias e Ilhas">
                                            <f:param name="tipopacote" value="Praias e Ilhas" />
                                        </h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="faces/pacotes" value="Escapadinhas">
                                            <f:param name="tipopacote" value="Escapadinhas" />
                                        </h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="faces/pacotes" value="Grandes Viagens">
                                            <f:param name="tipopacote" value="Grandes Viagens" />
                                        </h:link>
                                    </li>
                                </ul>
                            </li>


                            <li><a href="faces/blog.xhtml" id="experiencias">As Nossas Experiências</a></li>   
                            <li><a href="faces/equipa.xhtml" id="quemSomos">Quem somos</a></li>

                            <c:if test="${signupView.loginclient}">
                                <li><a href="faces/partilharBlog.xhtml" id="quemSomos"><b>Partilhar Blog</b></a></li>
                            </c:if>
                            <c:if test="${signupView.loginagencia}">
                                <li><a href="faces/adicionarPacote.xhtml" id="quemSomos"><b>Adicionar Pacote</b></a></li>
                                <li><a href="faces/consultarReserva.xhtml" id="quemSomos"><b>Consultar Reservas</b></a></li>

                            </c:if>

                        </ul>
                        <ul id="menuDireito" class="nav navbar-nav navbar-right">
                            <c:if test="${signupView.login}">

                                <h:form style="width: 200px">
                                    <center><li><a href="#"><span class="glyphicon glyphicon-user" /> ${sessionScope.user}</a></li></center>
                                    <center><h:commandLink action="#{signupView.logout()}" value="Logout"></h:commandLink></center>                                
                                </h:form>

                            </c:if>


                            <c:if test="${!signupView.login}">
                                <li><a href="faces/login.xhtml"><span class="glyphicon glyphicon-user" /> Login</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" id="registar"><span class="glyphicon glyphicon-log-in" /> Registar</a>

                                    <ul class="dropdown-menu">

                                        <li>
                                            <h:link outcome="faces/registar" value="Utilizador">
                                                <f:param name="tipoRegisto" value="user" />
                                            </h:link>
                                        </li>
                                        <li>
                                            <h:link outcome="faces/registar" value="Agência">
                                                <f:param name="tipoRegisto" value="agencia" />
                                            </h:link>
                                        </li>
                                    </ul>
                                </li>
                            </c:if>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--CAROUSEL-->

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->

                <ol class="carousel-indicators">

                    <li data-target="#myCarousel" data-slide-to="0" class="active" />

                    <li data-target="#myCarousel" data-slide-to="1" />

                    <li data-target="#myCarousel" data-slide-to="2" />

                    <li data-target="#myCarousel" data-slide-to="3" />

                    <li data-target="#myCarousel" data-slide-to="4" />

                    <li data-target="#myCarousel" data-slide-to="5" />

                    <li data-target="#myCarousel" data-slide-to="6" />

                    <li data-target="#myCarousel" data-slide-to="7" />

                    <li data-target="#myCarousel" data-slide-to="8" />

                    <li data-target="#myCarousel" data-slide-to="9" />

                    <li data-target="#myCarousel" data-slide-to="10" />

                    <li data-target="#myCarousel" data-slide-to="11" />

                    <li data-target="#myCarousel" data-slide-to="12" />

                    <li data-target="#myCarousel" data-slide-to="13" />

                    <li data-target="#myCarousel" data-slide-to="14" />

                    <li data-target="#myCarousel" data-slide-to="15" />

                    <li data-target="#myCarousel" data-slide-to="16" />

                    <li data-target="#myCarousel" data-slide-to="17" />

                    <li data-target="#myCarousel" data-slide-to="18" />

                    <li data-target="#myCarousel" data-slide-to="19" />

                    <li data-target="#myCarousel" data-slide-to="20" />

                    <li data-target="#myCarousel" data-slide-to="21" />

                    <li data-target="#myCarousel" data-slide-to="22" />

                    <li data-target="#myCarousel" data-slide-to="23" />

                    <li data-target="#myCarousel" data-slide-to="24" />

                    <li data-target="#myCarousel" data-slide-to="25" />

                    <li data-target="#myCarousel" data-slide-to="26" />

                    <li data-target="#myCarousel" data-slide-to="27" />
                </ol>
                <!-- Wrapper for slides -->

                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img src="img/home_caroussel/grecia.jpg" alt="" />

                        <div id="topleft" class="carousel-caption">


                            <h2>Descubra </h2>


                            <h3>os segredos da Grécia...</h3>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/africa.jpg" alt="" />

                        <div id="top" class="carousel-caption">

                            <h2>Explore os melhores safaris do mundo</h2>
                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/hiking.jpg" alt="" />

                        <div class="carousel-caption">

                            <div class=".col-sm-4">

                                <h2>Viaje de mochila às costas</h2>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/barcelona.jpg" alt="" />

                        <div id="top" class="carousel-caption">


                            <h2>Barcelona... um museu de céu aberto</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/cambodja.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2 id="p01">Conheça as raizes do Cambodja</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/canada.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Desfrute das melhores paisagens</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/chile.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Descubra as 7 maravilhas do mundo</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/cruzeiros.jpg" alt="" />

                        <div class="carousel-caption">

                            <div class=".col-sm-4">

                                <h2 id="p01">O azul do mar e a sua tranquilidade... contemple assim que puder!</h2>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/disney.jpg" alt="" />

                        <div id="topleft" class="carousel-caption">


                            <h2>Disneyland, onde a magia é real...</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/douro.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Prove os melhores vinhos do Porto</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/cayon.jpg" alt="" />

                        <div id="top" class="carousel-caption">


                            <h2>Paisagens de cortar a respiração</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/china4.jpg" alt="" />

                        <div class="carousel-caption">

                            <div class=".col-sm-4">

                                <h2>Colecione momentos!</h2>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/egipto.jpg" alt="" />

                        <div id="top" class="carousel-caption">


                            <h2>O tempo resiste a todas as coisas, mas as pirâmides resistem ao tempo...</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/acores2.jpg" alt="" />

                        <div id="top" class="carousel-caption">


                            <h2>Ilhas de Natureza Mágica</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/amsterdam.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Não deixe de visitar as melhores capitais europeias</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/honeymoons-romance.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Mergulhe em águas paradisíacas...</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/china.jpg" alt="" />

                        <div id="topleft" class="carousel-caption">

                            <h1>Descubra</h1>

                            <h2>os segredos do mundo oriental</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/hotel.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Respire. Relaxe. Desfrute</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/lisboa.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Venha conhecer a capital... e andar de eléctrico</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/maldivas.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Reserve já a sua lua-de-mel de sonho!</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/ny.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Nova Iorque, a cidade que nunca dorme</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/paris.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Conheça todas as curiosidades sobre a Cidade do Amor</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/porto.jpg" alt="" />

                        <div class="carousel-caption">


                            <h3>Considerado o melhor destino Europeu de 2014</h3>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/hk.jpg" alt="" />

                        <div id="topleft" class="carousel-caption">


                            <h3 id="p01">Já visitou os Alpes Suiços? Está à espera de quê?!</h3>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/rio.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Cidade Maravilhosa cheia de encantos mil...</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/roma.jpg" alt="" />

                        <div id="top" class="carousel-caption">


                            <h2 id="p01">Dizem que todos os caminhos vão dar a Roma</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/safari2.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Reserve já a sua viagem a dois!</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/hotel2.jpg" alt="" />

                        <div class="carousel-caption">


                            <h3 id="p01">Os melhores hoteis aos melhores preços</h3>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/snow.jpg" alt="" />

                        <div class="carousel-caption">


                            <h3>Pratique os seus desportos de Inverno favoritos</h3>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/sport.jpg" alt="" />

                        <div id="topleft" class="carousel-caption">


                            <h2>Partilhe as suas aventuras</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/tailandia.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2 id="p01">Tailândia, um destino de sonho!!!</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/surf.jpg" alt="" />

                        <div id="topleft" class="carousel-caption">


                            <h3>Inclua os seus amigos nas suas férias</h3>


                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/sport2.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Explore os seus limites</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/veneza.jpg" alt="" />

                        <div id="topdireita" class="carousel-caption">


                            <h2 id="p01">Um passeio de gôndola por Veneza...</h2>

                        </div>
                    </div>

                    <div class="item">
                        <img src="img/home_caroussel/zermatt.jpg" alt="" />

                        <div class="carousel-caption">


                            <h2>Marcar uma viagem é marcar a vida para sempre...</h2>

                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" />
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" />
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- Main Section -->

        <div id="maincontainer" class="container body-content">

            <div class="row" id="pesquisarPacote">

                <div class="col-sm-4">

                    <h3>Seleccione o destino e tipo de produto</h3>
                    <br />
                    <label for="sel1">Tipo de Produto:</label>
                    <select class="form-control" id="pacote">

                        <option value="promocoes">Promoções</option>

                        <option value="cruzeiros">Cruzeiros</option>

                        <option value="disney">Disneyland</option>

                        <option value="praias">Praias e Ilhas</option>

                        <option value="escapadinhas">Escapadinhas</option>

                        <option value="grandesViagens">Grandes Viagens</option>
                    </select>
                    <br />
                    <label for="sel1">Seleccione a localização:</label>
                    <select class="form-control" id="local">

                        <option value="america">América</option>

                        <option value="europa">Europa</option>

                        <option value="africa">África</option>

                        <option value="oceania">Ásia e Oceania</option>
                    </select>
                    <br />
                    <label for="sel1">Seleccione o preço:</label>
                    <select class="form-control" id="sel1">

                        <option>0-500</option>

                        <option>500-1000</option>

                        <option>1000-1500</option>

                        <option>+1500</option>
                    </select>
                    <br />

                    <div id="alertPesquisa">
                    </div>
                    <a href="#" type="button" id="pesquisar" onclick="pesquisa()" class="btn btn-primary">Pesquisar</a>
                    <br />
                </div>

                <div class="col-sm-4" id="mouseTop">

                    <div align="center">

                        <h3>TOP DESTINOS</h3>
                    </div>

                    <div class="thumbnail">

                        <div class="caption" id="top1" onclick="infoPacotes('cruzCaraibas')">

                            <h6 class="pull-right">desde 850€</h6>

                            <h4 href="#cruzeiroscaraibas" id="cruzCaraibas">
                                Caraibas
                            </h4>
                        </div>
                    </div>


                    <div class="thumbnail">

                        <div class="caption" id="top2" onclick="infoPacotes('disneyVerao')">

                            <h6 class="pull-right">desde 363€</h6>

                            <h4 href="#" id="disney4"> Verão Disneyland Paris</h4>
                        </div>
                    </div>

                    <div class="thumbnail">

                        <div class="caption" onclick="infoPacotes('gViagemMadagascar')">

                            <h6 class="pull-right">desde 3.749€</h6>

                            <h4 href="#" id="grand1">Madagáscar </h4>
                        </div>
                    </div>

                    <div class="thumbnail">

                        <div class="caption" id="top1" onclick="infoPacotes('gViagemDubai')">

                            <h6 class="pull-right">desde 570€</h6>

                            <h4 href="#" id="grand6"> Dubai </h4>
                        </div>
                    </div>

                    <div class="thumbnail">

                        <div class="caption" id="top2" onclick="infoPacotes('praiaSalvador')">

                            <h6 class="pull-right">desde 913€</h6>

                            <h4 href="#" id="praia1">Salvador </h4>
                        </div>
                    </div>

                    <div class="thumbnail">

                        <div class="caption" onclick="infoPacotes('cruzNoruega')">

                            <h6 class="pull-right">desde 1.109€</h6>

                            <h4 href="#" id="cruzNoruega">Cruzeiro Noruega
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">

                    <div align="center">

                        <h3>Viajar faz bem...</h3>
                        <embed width="420" height="315" frameborder="0" src="https://www.youtube.com/embed/RcmrbNRK-jY" />
                    </div>
                </div></div>
        </div>
        <!--footer-->
        <footer class="footer-distributed">

            <div class="footer-left">

                <h3>O<span>Viajante</span></h3>

                <p class="footer-company-name">O Viajante © 2016</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker" />

                    <p><span>Campus Universitário de Santiago, 3810-193</span> Aveiro, Portugal</p>

                </div>

                <div>
                    <i class="fa fa-phone" />

                    <p>+1 555 123456</p>
                </div>

                <div>
                    <i class="fa fa-envelope" />

                    <p><a href="mailto:oviajante@oviajante.com">oviajante@oviajante.com</a></p>
                </div>
            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>Sobre nós</span>
                    O Viajante oferece vários pacotes de viagens com as melhores ofertas e para além disso permite que os amantes de viajens partilhem ideias e experiências entre si.
                </p>

                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook" /></a>
                    <a href="#"><i class="fa fa-twitter" /></a>
                    <a href="#"><i class="fa fa-linkedin" /></a>
                    <a href="#"><i class="fa fa-github" /></a>
                </div>
            </div>
        </footer>

        <script src="js/jquery-1.10.2.min.js"></script>

        <script src="js/bootstrap.min.js"></script>

        <script src="js/respond.min.js"></script>

        <script src="js/jquery.validate.min.js"></script>
    </h:body>
</html>

