﻿<h1>Adicionar Pacote</h1>
<form action="action_page.php">
    <label for="sel1">Título:</label><br>
    <input id="titulo" type="text" name="nome" rows="1" cols="10">
    <br>
    <label for="sel1">Preço:</label><br>
    <input id="preco" type="email" name="email" rows="1" cols="10">
    <br>
   
    <label for="sel1">Tipo de pacote:</label>
    <br>
    <select name="pacote">
        <option id="promocoes">Promoções</option>
        <option id="cruzeiros">Cruzeiros</option>
        <option id="disneyland">Disneyland</option>
        <option id="praiaseilhas">Praias e Ilhas</option>
        <option id="escapadinhas">Escapadinhas</option>
        <option id="grandesviagens">Grandes Viagens</option>
    </select>
    <br><br>
    <label for="sel1">Alojamento:</label><br>
    <textarea name="message" rows="10" cols="160"></textarea>
    <br><br>
    <label for="sel1">Itenerário:</label><br>
    <textarea name="message" rows="10" cols="160"></textarea>
    <br><br>
    <label for="sel1">Condições:</label><br>
    <textarea name="message" rows="10" cols="160"></textarea>
    <br><br>
    <label for="sel1">Detalhe:</label><br>
    <textarea name="message" rows="10" cols="160"></textarea>
    <br>
</form>

<form action="demo_form.asp">
    <label for="sel1">Adicionar Imagem:</label>
    <input type="file" name="pic" accept="image/*">
    <br>
    <a class="btn btn-primary" onclick="" href="#">Adicionar</a>
</form>
