﻿<h1>Reservas</h1>
<form action="action_page.php">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>Nº de Reserva</th>
                <th>ID Pacote</th>
                <th>Nome do Pacote</th>
                <th>Nome Utilizador</th>
                <th>Data</th>
                <th>
                
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><input type="radio" name="gender" value="female"> Processar
<br></td> 
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</form>
