﻿
<h2>Iniciar Sessão</h2>
<div class="row">
    <div class="col-md-8">
        <label for="sel1">Tipo de Utilizador:</label>
        <select name="Tipo de Utilizador" id="tipou">
            <option id="ucomum" value="vs">Utilizador Comum</option>
            <option id="uagencia" value="vd">Agencia</option>
        </select>
        <section>
            <form id="loginForm" action="." method="post" class="form-horizontal">
                <hr />
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Utilizador</label>
                    <div class="col-md-10">
                        <input id="user" name="name" type="text" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="in_password" class="col-md-2 control-label">Palavra-Passe</label>
                    <div class="col-md-10">
                        <input id="pass" name="in_password" type="password" class="form-control" required />
                    </div>
                </div>
                <div id="loginAlert">

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input id="btnLogin" type="button" value="Entrar" onclick="login()" class="btn btn-default" />
                        <input id="btnCancelLogin" type="reset" value="Cancel" class="btn btn-default" />
                    </div>
                </div>
                <!--<p class="validation-summary-errors" hidden>Please enter a correct user name and password.</p>-->
            </form>
        </section>
    </div>

</div>

