﻿<h1>Partilhar Viagem</h1>
<form action="action_page.php">
    <label for="sel1">Nome:</label><br>
    <input id="nome" type="text" name="nome" rows="1" cols="10">
    <br>
    <label for="sel1">Email:</label><br>
    <input id="email" type="email" name="email" rows="1" cols="10">
    <br>
    <label for="sel1">Título:</label><br>
    <input id="titulo" type="text" name="nome" rows="1" cols="10">
    <br>
    <label for="sel1">Data:</label><br>
    <input id="data" type="datetime-local" name="bdaytime" rows="1" cols="8">
    <br>
    <br>
    <label for="sel1">Tipo de Viagem:</label>
    <select name="Tipo de Viagem">
        <option value="vs">Viajar Sozinho</option>
        <option value="vg">Viajar em Grupo</option>
    </select>
    <br><br>
    <label for="sel1">Local:</label>
    <select name="Local">
        <option id="america">América</option>
        <option id="europa">Europa</option>
        <option id="africa">África</option>
        <option id="oceaniaeasia">Oceania e Ásia</option>
    </select>
    <br><br>
    <textarea name="message" rows="20" cols="160"></textarea>
    <br>
</form>

<form action="demo_form.asp">
    <label for="sel1">Adicionar Imagem:</label>
    <input type="file" name="pic" accept="image/*">
    <br>
    <a class="btn btn-primary" onclick="" href="#">Partilhar</a>
</form>
