﻿<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Nossa Equipa</h2>
                <h3 class="section-subheading text-muted"><b>Disciplina:</b> Tecnologias e Programação Web</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4  text-center">
                <div class="team-member">
                    <img src="../img/equipa/sara.jpg" class="img-responsive img-circle" alt="">
                    <h4>Sara Furão</h4>
                    <p class="text-muted"><b>Estudante</b></p>
                    <p class="text-muted"><b>Licenciatura em Engenharia Informática</b></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="" class="img-responsive img-circle" alt="">
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="team-member">
                    <img src="../img/equipa/rita.jpg" class="img-responsive img-circle" alt="">
                    <h4>Rita Portas</h4>
                    <p class="text-muted"><b>Estudante</b></p>
                    <p class="text-muted"><b>Licenciatura em Engenharia Informática</b></p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Trabalho prático com o objetivo da construção de uma aplicação web.</p>
                <p class="large text-muted"><b>Docente:</b> Hélder Zagalo</p>
            </div>
        </div>
    </div>
</section>

<!--PARCEIROS-->
<div class="container text-center">
    <h3>Parceiros</h3>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <img src="../img/outros/abreu.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-2">
            <img src="../img/outros/book.png" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-2">
            <img src="../img/outros/capitaltur.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-2">
            <img src="../img/outros/halcon.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-2">
            <img src="../img/outros/topAtlantico.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-2">
            <img src="../img/outros/trivagoo.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div><br>