﻿<h2>Regista-te para novas experiências</h2>
<div class="row" id="registoForm">
    <div class="col-md-8">
        <section>
            <form id="registoForm" action="." method="post" class="form-horizontal">
                <hr />
                <!--NOME COMPLETO-->
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Nome Completo</label>
                    <div class="col-md-10">
                        <input id="nome" name="name" type="text" class="form-control" required  />
                    </div>
                </div>
                <!--TELEFONE-->
                <div class="form-group">
                    <label for="phoneUS" class="col-md-2 control-label">Telemóvel</label>
                    <div class="col-md-10">
                        <input type="text" name="phoneUS" id="numTel" class="form-control" required/>
                    </div>
                </div>
                <!--E-MAIL-->
                <div class="form-group">
                    <label for="mail" class="col-md-2 control-label">E-mail</label>
                    <div class="col-md-10">
                        <input type="email" name="mail" id="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" minlength="3" required>
                    </div>
                </div>
                <!--NOME UTILIZADOR-->
                <div class="form-group">
                    <label for="nUtilizador" class="col-md-2 control-label">Nome Utilizador</label>
                    <div class="col-md-10">
                        <input id="nameUI" name="nUtilizador" type="text" class="form-control" minlength="3" required />
                    </div>
                </div>
                <!--PALAVRA PASSE-->
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label">Palavra-Passe</label>
                    <div class="col-md-10">
                        <input id="passwordUI" name="password" type="password" class="form-control" required />
                    </div>
                </div>
                <!--BOTOES SUBMETER OU CANCELAR-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input id="btnSubmitRegisto" onclick="registo()" type="submit" value="Submeter" class="btn btn-default" />
                        <input id="btnCancelRegisto" type="reset" value="Cancelar" class="btn btn-default" />
                    </div>
                </div>
                <p class="validation-summary-errors" hidden>Please enter a correct user name and password.</p>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

