﻿<ul id="menuPrincipal" class="nav navbar-nav">
    <li class="active"><a href="#" id="homeMenu">Home</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="pacotes">Pacotes <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#" id="pacPromocoes">Promoções</a></li>
            <li><a href="#" id="pacCruzeiros">Cruzeiros</a></li>
            <li><a href="#" id="pacDisneyland">Disneyland</a></li>
            <li><a href="#" id="pacPraiasIlhas">Praias e Ilhas</a></li>
            <li><a href="#" id="pacEscapadinhas">Escapadinhas</a></li>
            <li><a href="#" id="pacGrandesViagens">Grandes Viagens</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="nossasExperiencias">As Nossas Experiências<span class="caret"></span></a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">


            <li class="dropdown-submenu">
                <a tabindex="-1" href="#" id="viajarsozinho">Viajar Sozinho</a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#" id="americaViajarSozinho">América</a></li>
                    <li><a href="#" id="europaViajarSozinho">Europa</a></li>
                    <li><a href="#" id="africaViajarSozinho">África</a></li>
                    <li><a href="#" id="oceaniaViajarSozinho">Oceania e Ásia</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#" id="viajaremGrupo">Viajar em Grupo</a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#" id="americaViajarEmGrupo">América</a></li>
                    <li><a href="#" id="europaViajarEmGrupo">Europa</a></li>
                    <li><a href="#" id="africaViajarEmGrupo">África</a></li>
                    <li><a href="#" id="oceaniaViajarEmGrupo">Oceania e Ásia</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li><a href="#" id="quemSomos">Quem somos</a></li>
</ul>
<ul id="menuDireito" class="nav navbar-nav navbar-right">
    <li><a href="#" id="a2login"><span class="glyphicon glyphicon-user"></span> Iniciar Sessão</a></li>
    <li><a href="#" id="a2registo"><span class="glyphicon glyphicon-log-in"></span> Registar</a></li>
</ul>

<ul id="menuUI" class="nav navbar-nav">
    <li class="active"><a href="#" id="homeMenu">Home</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="pacotes">Pacotes <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#" id="pacPromocoes">Promoções</a></li>
            <li><a href="#" id="pacCruzeiros">Cruzeiros</a></li>
            <li><a href="#" id="pacDisneyland">Disneyland</a></li>
            <li><a href="#" id="pacPraiasIlhas">Praias e Ilhas</a></li>
            <li><a href="#" id="pacEscapadinhas">Escapadinhas</a></li>
            <li><a href="#" id="pacGrandesViagens">Grandes Viagens</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="nossasExperiencias">As Nossas Expericencias<span class="caret"></span></a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#" id="viajarsozinho">Viajar Sozinho</a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#" id="americaViajarSozinho">América</a></li>
                    <li><a href="#" id="europaViajarSozinho">Europa</a></li>
                    <li><a href="#" id="africaViajarSozinho">África</a></li>
                    <li><a href="#" id="oceaniaViajarSozinho">Oceania e Ásia</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#" id="viajaremGrupo">Viajar em Grupo</a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#" id="americaViajarEmGrupo">América</a></li>
                    <li><a href="#" id="europaViajarEmGrupo">Europa</a></li>
                    <li><a href="#" id="africaViajarEmGrupo">África</a></li>
                    <li><a href="#" id="oceaniaViajarEmGrupo">Oceania e Ásia</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="#" id="partilharViagem">Partilhar Viagem</a></li>
    <li><a href="#" id="quemSomos">Quem somos</a></li>
</ul>



<ul id="menuDireitoUI" class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user">  </span><span id="uiMenu" onclick="infoUser()"></span> </a></li>

    <li><a href="#" id="logout" onclick="logout()"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
</ul>

<ul id="menuDireitoAgencia" class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user">  </span><span id="agenciaMenu" onclick="infoAgencia()"></span> </a></li>

    <li><a href="#" id="logout" onclick="logout()"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
</ul>


<div class="row" id="pesquisarPacote">
    <div class="col-sm-4">
        <h3>Seleccione o destino e tipo de produto</h3>
        <br />
        <label for="sel1">Tipo de Produto:</label>
        <select class="form-control" id="pacote">
            <option value="promocoes">Promoções</option>
            <option value="cruzeiros">Cruzeiros</option>
            <option value="disney">Disneyland</option>
            <option value="praias">Praias e Ilhas</option>
            <option value="escapadinhas">Escapadinhas</option>
            <option value="grandesViagens">Grandes Viagens</option>

        </select>
        <br />
        <label for="sel1">Seleccione a localização:</label>

        <select class="form-control" id="local">
            <option value="america">América</option>
            <option value="europa">Europa</option>
            <option value="africa">África</option>
            <option value="oceania">Ásia e Oceania</option>
        </select>

        <br />
        <label for="sel1">Seleccione o preço:</label>

        <select class="form-control" id="sel1">
            <option>0-500</option>
            <option>500-1000</option>
            <option>1000-1500</option>
            <option>+1500</option>
        </select>
        <br />
        <div id="alertPesquisa">

        </div>
        <a href="#" type="button" id="pesquisar" onclick="pesquisa()" class="btn btn-primary">Pesquisar</a>

        <br>
    </div>
    <div class="col-sm-4" id="mouseTop">
        <div align="center">
            <h3>TOP DESTINOS</h3>
        </div>
            <div class="thumbnail">
                <div class="caption" id="top1" onclick="infoPacotes('cruzCaraibas')">
                    <h6 class="pull-right">desde 850€</h6>
                    <h4 href="#cruzeiroscaraibas" id="cruzCaraibas">
                        Caraibas
                    </h4>
                </div>

            </div>

        
        <div class="thumbnail">
            <div class="caption" id="top2" onclick="infoPacotes('disneyVerao')">

                <h6 class="pull-right">desde 363€</h6>
                <h4 href="#" id="disney4"> Verão Disneyland Paris</h4>
            </div>


        </div>
        <div class="thumbnail">
            <div class="caption"  onclick="infoPacotes('gViagemMadagascar')">
                <h6 class="pull-right">desde 3.749€</h6>
                <h4 href="#" id="grand1">Madagáscar </h4>

            </div>
        </div>

        <div class="thumbnail">
            <div class="caption" id="top1" onclick="infoPacotes('gViagemDubai')">
                <h6 class="pull-right">desde 570€</h6>
                <h4 href="#" id="grand6"> Dubai </h4>
            </div>

        </div>


        <div class="thumbnail">
            <div class="caption" id="top2" onclick="infoPacotes('praiaSalvador')">

                <h6 class="pull-right">desde 913€</h6>
                <h4 href="#" id="praia1">Salvador </h4>
            </div>


        </div>
        <div class="thumbnail">
            <div class="caption" onclick="infoPacotes('cruzNoruega')">
                <h6 class="pull-right">desde 1.109€</h6>
                <h4 href="#" id="cruzNoruega">Cruzeiro Noruega
                </h4>
            </div>
        </div>
    </div>

    <div class="col-sm-4">

        <div align="center">
            <h3>Viajar faz bem...</h3>
            <embed width="420" height="315" frameborder="0"
                   src="https://www.youtube.com/embed/RcmrbNRK-jY">
        </div>
    </div>
</div>


<ul id="menuAgencia" class="nav navbar-nav">
    <li class="active"><a href="#" id="homeMenu">Home</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="pacotes">Pacotes <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#" id="pacPromocoes">Promoções</a></li>
            <li><a href="#" id="pacCruzeiros">Cruzeiros</a></li>
            <li><a href="#" id="pacDisneyland">Disneyland</a></li>
            <li><a href="#" id="pacPraiasIlhas">Praias e Ilhas</a></li>
            <li><a href="#" id="pacEscapadinhas">Escapadinhas</a></li>
            <li><a href="#" id="pacGrandesViagens">Grandes Viagens</a></li>
        </ul>
    </li>

    <li><a href="#" id="adicionarPacote">Adicionar Pacote</a></li>
    <li><a href="#" id="verreservas">Ver Reservas</a></li>
    <li><a href="#" id="quemSomos">Quem somos</a></li>
</ul>

