﻿<div class="container">
    <h1>Perfil</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="" class="avatar img-circle" alt="" id="fotoPerfil">
                <h6>Altere a sua foto de perfil...</h6>

                <input type="file" class="form-control">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            
            <h3>Informação Pessoal</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Nome:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="nomePerfil" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Data Nascimento:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="dNascPerfil" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="emailPerfil" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Telemóvel:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="telefPerfil" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Nome Utilizador: </label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" id="usernamePerfil" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="password" id="passwordPerfil" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" onclick="editarUI()" value="Editar">
                        <span></span>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>