﻿

    <br />
    <a href="#" type="button" id="reservar" class="btn btn-primary pull-right" onclick="reservar()">Reservar</a>
    

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Alojamento</a></li>
    <li><a data-toggle="tab" href="#menu1">Itenerário</a></li>
    <li><a data-toggle="tab" href="#menu2">Condições</a></li>
</ul>

<div class="tab-content" id="bodyInformacao">
    <div id="home" class="tab-pane fade in active">
        <h1 id="alojTitulo"></h1>
        <br>
        <br>
        <h3 id="alojTexto"></h3>
    </div>
    <div id="menu1" class="tab-pane fade">
        <!--<div id="itenerario">

        </div>-->
    </div>
    <div id="menu2" class="tab-pane fade">

    </div>
</div>