﻿<div id="successMessage">
    <h1>Reserva</h1>
    <label for="usr">Nome:</label>
    <input type="text" class="form-control fieldsValue" id="usrReservar" disabled>
    <label for="usr">Email:</label>
    <input type="email" class="form-control" id="usremail" disabled>
    <label for="usr">Telefone:</label>
    <input type="text" class="form-control" id="usrtelef" disabled>
    <label for="datapartida">Data de partida:</label>
    <br>
    <input id="data" type="date" name="bdaytime" rows="1" cols="8">
    <br>
    <div id="reservaAlert">

    </div>
    <a href="#" onclick="reservarPacote()" type="button" id="reservar" class="btn btn-primary pull-right">Reservar</a>
</div>
