
.ui-widget-content {
    border: 0px !important;
}

.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#loginAlert{
    color: coral;
    font-weight: bold;
    text-align:center
}

#alertPesquisa{
    color: coral;
    font-weight: bold;
    text-align:center
}

.thumbnail:hover{
    background-color: aliceblue;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

#fotoPerfil{
    height:100px;
    width:auto;/*maintain aspect ratio*/
    max-width:194px;
}

#reservaAlert{
    color: #14A804;
    font-weight: bold;
    text-align:center
}

#topleft{
    /*  top: 0;
      bottom: auto;
      left: -10; position: absolute;
     left:-9000px
        max-width: 550px;
        padding: 0 20px;
        margin:0 auto;
        margin-top: 200px;
        text-align:center;*/

    left:-40%;
    top:0; 


}

#topdireita{
    /*  top: 0;
      bottom: auto;
      left: -10; position: absolute;
     left:-9000px
        max-width: 550px;
        padding: 0 20px;
        margin:0 auto;
        margin-top: 200px;
        text-align:center;*/

    right:-40%;
    top:0; 


}

#top{

    top:0; 
    bottom:auto; 

}

#p01 {
    color: black;
}