﻿

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->
            <!-- Title -->
            <h1 id="title"> </h1>

            <!-- Author -->
            <p class="lead">
                by <a href="#" id="author"></a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time" id="datePost"></span> </p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="img/blog/sidney.jpg" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">
                <div id="viajarSozinhoOceaniaSidney"></div>
            </p>

            <hr>

        </div>
