﻿<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="page-header">
        Viajar Sozinho
        <small>Europa</small>
    </h1>
    <!-- First Blog Post -->
    <h2>
        <a href="#">Apita o comboio num cruzeiro no Douro</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Joel Marques</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado a 16 Junho, 2015 ás 09:00</p>
    <hr>
    <img class="img-responsive" src="img/blog/douro.jpg" alt="">
    <hr>
    <p>Apesar de ser natural do Porto e atualmente morar em Matosinhos, paredes-meias com a Invicta, nunca tinha feito um cruzeiro no Douro. Da mesma forma que me envergonho de (ainda) não conhecer o Salão Árabe do Palácio da Bolsa ou a Igreja de São Francisco – apesar de por lá passar vezes sem conta -, e de só muito recentemente ter pisado o topo da Muralha Fernandina nos Guindais! É triste, mas não deixa de ser “normal”: por vezes prestamos pouca atenção à nossa rua. Eu não sou exceção.</p>
    <a class="btn btn-primary" href="#" onclick="lermaisviajarsozinhoeuropa('douro')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2>
        <a href="#">Um passeio de barco pelos canais de Copenhaga (vale mesmo a pena)</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Maria Matias</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 19 Junho, 2014 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="img/blog/copenhaga.jpg" alt="">
    <hr>
    <p> Quando estava a preparar a minha viagem a Copenhaga, várias pessoas de diferentes sensibilidades me recomendaram fazer uma canal tour. Mal chegado à capital dinamarquesa, uma amiga de longa data natural da cidade lançou a mesmíssima sugestão quando nos encontrámos, afiançando que, apesar de turístico, “as pessoas de Copenhaga fazem o passeio uma vez por ano” assim que os raios de sol iluminam Nyhavn, anunciando o verão.</p>
    <a class="btn btn-primary" onclick="lermaisviajarsozinhoeuropa('copenhaga')" href="#">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2>
        <a href="#">Património Mundial: Palácio Drottningholm, Estocolmo, Suécia</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Vitória Moura</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 5 Junho, 2014 ás 10:45 </p>
    <hr>
    <img class="img-responsive" src="img/blog/suecia.jpg" alt="">
    <hr>
    <p>Estive no passado mês de maio em Estocolmo e, como não podia deixar de ser, fui visitar o Palácio Drottningholm, classificado como Património Mundial pela UNESCO em 1991 – foi aliás, o primeiro sítio a receber esta distinção na Suécia. Aproveito o embalo dessa viagem para vos falar desta incontornável “atração turística” da capital sueca, porque vale mesmo a pena visitar.</p>
    <a class="btn btn-primary" onclick="lermaisviajarsozinhoeuropa('suecia')" href="#">Ler Mais<span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>

</div>