﻿<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="page-header">
        Viajar em Grupo
        <small>Europa</small>
    </h1>
    <!-- First Blog Post -->
    <h2>
        <a href="#">48 em Londres</a>
    </h2>
    <p class="lead">
        <a href="index.php">Joel Marques</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado a 16 Junho, 2015 ás 09:00</p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/londres.jpg" alt="">
    <hr>
    <p>Eu nunca pensei que coubesse tanta coisa na Leicester Square até que ví a Leicester Square FunFair pela primeira vez! A pracinha estava cheia de chalés e brinquedos de parques de diversões, o que era uma pracinha virou mais um mercado de Natal.</p>
    <a class="btn btn-primary" href="#" onclick="lermaisviajargrupo('londres')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2>
        <a href="#">Um fim de semana pela Irlanda (Brú na Bóinne, Galway e Cliffs of Moher)</a>
    </h2>
    <p class="lead">
        <a href="index.php">Leonor Palmas</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 19 Junho, 2014 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/irlanda.jpg" alt="">
    <hr>
    <p> Aproveitamos que a mãe do Celo estava conosco em Dublin e alugamos um carro para passearmos pelo país. Montamos o seguinte roteiro para o final de semana com a ajuda de uma amiga que viajou por 10 dias pelo país e achamos que ficou bem legal, apesar de termos chegado tarde em Cashel (dá para chegar mais cedo):</p>
    <a class="btn btn-primary" onclick="lermaisviajargrupo('irlanda')" href="#">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2>
        <a href="#">4 dias em Paris e Versalhes</a>
    </h2>
    <p class="lead">
        <a href="index.php">Vitória Moura</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 5 Junho, 2014 ás 10:45 </p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/paris.jpg" alt="">
    <hr>
    <p>Voamos de Ryanair (50 euros por pessoa, ida e volta) para Beauvais, que é uma cidade que fica a 1 hora de ônibus de Paris.</p>
    <a class="btn btn-primary" onclick="lermaisviajargrupo('paris')" href="#">Ler Mais<span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
</div>