﻿<!-- Blog Entries Column -->
    <h1 class="page-header">
        Viajar Sozinho
        <small>América</small>
    </h1>
    <!-- First Blog Post -->
    <h2>
        <a href="#">Descobrindo a Cidade do Panamá (da Cinta Costera ao Casco Viejo)</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Filipe Morato Gomes</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado a 24 Agosto, 2013 ás 09:00</p>
    <hr>
    <img class="img-responsive" src="img/blog/panama.jpg" alt="">
    <hr>
    <p>A Costa Rica e o Panamá eram os únicos países da América Central onde ainda não tinha estado e, por isso, há muito que os elegi como um dos projetos de viagem a concretizar nos próximos anos.</p>
    <a class="btn btn-primary" href="#"  onclick="lermaisviajarsozinhoamerica('panama')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2>
        <a href="#">Voando entre as árvores em Monteverde</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Manuel Silva</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 28 Agosto, 2013 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="img/blog/costarica.jpg" alt="">
    <hr>
    <p> Quem me conhece sabe que não sou um tipo atraído pelas grandes descargas de adrenalina. Não me imagino a fazer bungee jumping, skydiving ou white waters rafting e até a minha filha de 8 anos é mais dada a montanhas-russas e afins do que eu (sai à mãe).</p>
    <a class="btn btn-primary" href="#"  onclick="lermaisviajarsozinhoamerica('costarica')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2>
        <a href="#">Com os Kuna Yala em San Blás, uma experiência cheia de contradições</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Tiago Madeira</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 28 Agosto, 2013 ás 10:45 </p>
    <hr>
    <img class="img-responsive" src="img/blog/sanblas.jpg" alt="">
    <hr>
    <p>Apesar de ter adorado a minha estadia no arquipélago de San Blás, há um aspeto curioso que gostaria de partilhar contigo: a convivência com os Kuna Yala, minoria étnica que domina a região.</p>
    <a class="btn btn-primary" href="#" onclick="lermaisviajarsozinhoamerica('sanblas')">Ler Mais<span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>

