﻿<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="page-header">
        Viajar em Grupo
        <small>Oceania</small>
    </h1>
    <!-- First Blog Post -->
    <h2>
        <a href="#">Melbourne, Great Ocean Road, Phillip Island e Yarra Valley</a>
    </h2>
    <p class="lead">
        <a href="index.php">Vitória Moura</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 5 Junho, 2014 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/melbourne.jpg" alt="">
    <hr>
    <p>Pegamos o vôo de Queenstown (NZ) para Melboune e chegamos no aeroporto de Tullamarine por volta de 12h. Pegamos um shuttle compartilhado no aeroporto (mais em conta do que taxi) que nos deixou na porta do nosso albergue, o Melbourne Central YHA . Adoramos o albergue, apesar de ele nem ter café da manhã. Estava em obras, então a entrada dele estava um caos, mas os quartos estavam OK e nosso quarto privativo era um luxo só!</p>
    <a class="btn btn-primary" href="#" onclick="lermaisviajargrupo('melbourne')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2>
        <a href="#">Queenstown e Milford Sound em 4 dias</a>
    </h2>
    <p class="lead">
        <a href="index.php">Sofia Maria e Marta Mónica</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 19 Junho, 2014 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/queenstown.jpg" alt="">
    <hr>
    <p> Depois de algumas horas na estrada, finalmente chegamos a Queenstown, a cidade mais esperada por nós. Queenstown é a capital mundial dos esportes radicais e nós saímos do Brasil querendo  fazer tudo o que estivesse ao nosso alcance,  principalmente o famoso bungy jump.</p>
    <a class="btn btn-primary" onclick="lermaisviajargrupo('nz')" href="#">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2>
        <a href="#">Sidney aqui vamos nós!</a>
    </h2>
    <p class="lead">
        <a href="index.php">Helder Pires e Mariana Pires</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 5 Junho, 2014 ás 10:45 </p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/sidney.jpg" alt="">
    <hr>
    <p>
        Dividimos a quantidade de dias para essas cidades e fomos em busca de albergues com quartos privativos. Caímos para trás com os preços…tudo extremamente caro! Os passeios então, nem se fala…só para vocês terem uma ideia: um copo de chopp em qualquer restaurante que visitamos chegava a custar R$20, quando convertíamos as moedas.    </p>
    <a class="btn btn-primary" onclick="lermaisviajargrupo('sidney')" href="#">Ler Mais<span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
</div>