﻿<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="page-header">
        Viajar em Grupo
        <small>África</small>
    </h1>
    <!-- First Blog Post -->
    <h2>
        <a href="#">Roteiro 3 dias no Quênia",</a>
    </h2>
    <p class="lead">
       <a href="index.php">Roberta Martins</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 10 Fevereiro, 2016 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/quenia.jpg" alt="">
    <hr>
    <p>Passei anos sonhando em fazer safari na África. Botsuana, Zâmbia, Zimbábue, Tanzânia e Quênia pareciam ser os mais interessantes até que veio o convite do Kenya Tourism Board (órgão oficial de turismo) para 10 dias no Quênia. Geralmente estas viagens para imprensa tem um roteiro cansativo e superficial que eu não recomendo aos leitores, mas este foi perfeito a ponto de entrar na lista das melhores viagens da minha vida. Foi tudo feito no tempo certo, sem correria, com as melhores experiências e ainda abriu um leque ...</p>
    <a class="btn btn-primary" href="#" onclick="lermaisviajargrupo('quenia')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2>
        <a href="#">Tunísia e o deserto do Sahara</a>
    </h2>
    <p class="lead">
        <a href="index.php">Luísa Ferrari</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 20 Abril, 2015 ás 00:45</p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/tunisia.jpg" alt="">
    <hr>
    <p> Bom, Tunísia foi o destino escolhido para Setembro e eu não me lembro muito bem o motivo dessa escolha. Acho que cismei que queria ir pra algum lugar bem diferente, vi algumas fotos bonitas do país e juntou ainda o fato de que lá a gente poderia andar de camelo no deserto + o preço do pacote all inclusive que era absurdamente barato. </p>
    <a class="btn btn-primary" onclick="lermaisviajargrupo('tunisia')" href="#">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2>
        <a href="#">Aventuras em Luanda Pós Guerra</a>
    </h2>
    <p class="lead">
        <a href="index.php">Ana Mendes</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 26 Março, 2016 ás 10:45 </p>
    <hr>
    <img class="img-responsive" src="../../img/blog/imggrupo/luanda.jpg" alt="">
    <hr>
    <p>Viajar para a Luanda de 2005 foi uma das experiências mais marcantes da minha vida. Naquela época, a cidade era a segunda pior capital do mundo no ranking de qualidade de vida, perdendo apenas para a capital do Iraque e não era para menos… A cidade era o reflexo de um país destruído que havia acabado de sair de uma guerra civil que durou 25 anos!</p>
    <a class="btn btn-primary" onclick="lermaisviajargrupo('luanda')" href="#">Ler Mais<span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>

</div>