﻿<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="page-header">
        Viajar Sozinho
        <small>Oceania</small>
    </h1>
    <!-- First Blog Post -->
    <h2>
        <a href="#">Como foi a minha experiência no Outback, o deserto da Austrália</a>
    </h2>
    <p class="lead">
        <a href="index.php">Juliana Dias</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 19 Julho, 2013 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="img/blog/sidney.jpg" alt="">
    <hr>
    <p>Era dia 19 de dezembro de 2008 quando desembarquei no aeroporto de Alice Springs depois de pouco mais de duas horas de voo de Cairns. Alice Springs é a principal cidade do Outback e ponto de partida para os passeios no chamado Red Centre, a região onde ficam as principais atrações do deserto. Eu e outras centenas de bravos mochileiros chegavam pra enfrentar a imensidão vermelha nos próximos dias. Do aeroporto literalmente no meio do nada, peguei o ônibus até o meu albergue no centro da cidade cheia de expectativa.</p>
    <a class="btn btn-primary" href="#"   onclick="lermaisviajarsozinhooceania('sidney')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2>
        <a href="#">Nova Zelândia</a>
    </h2>
    <p class="lead">
       <a href="index.php">Marta Melo</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 19 Julho, 2013 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="img/blog/novazelandia.jpg" alt="">
    <hr>
    <p>  Prefiro viajar sozinho a participar em press trips porque detesto viajar em manada e, regra geral, os organizadores pensam que quanto mais “atrações turísticas” mostrarem melhor, deixando pouco espaço para o contacto com as pessoas, para visitar aspetos do quotidiano como as ruas, os mercados ou, simplesmente, para sentar numa esplanada a absorver o dia-a-dia de uma localidade.</p>
    <a class="btn btn-primary" onclick="lermaisviajarsozinhooceania('novazelandia')" href="#">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2>
        <a href="#">Ilhas Fiji</a>
    </h2>
    <p class="lead">
        <a href="index.php">Matilde Mónica</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 8 junho, 2013 ás 10:45 </p>
    <hr>
    <img class="img-responsive" src="img/blog/fiji.jpg" alt="">
    <hr>
    <p>Então chegou o mais esperado momento de todos: a viagem das Ilhas Fiji!!!

Realmente aquilo lá é o paraíso e apesar de parecer longe e consequentemente caro chegar até lá, não foi o que aconteceu conosco.</p>
    <a class="btn btn-primary" onclick="lermaisviajarsozinhooceania('fiji')" href="#">Ler Mais<span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>

</div>