﻿<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="page-header">
        Viajar Sozinho
        <small>África</small>
    </h1>
    <!-- First Blog Post -->
    <h2>
        <a href="#">Impressões do Uganda: Lago Bunyonyi</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Duarte Morais</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 19 Julho, 2013 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="img/blog/uganda.jpg" alt="">
    <hr>
    <p>Depois de passar pela capital Kampala e por Jinja, a putativa Meca do rafting em África, por Fort Portal, da qual se diz ser a mais limpa cidade do Uganda, pelo parque nacional Queen Elizabeth, onde vi leões, hipopótamos, búfalos, dezenas de espécies de pássaros e até um leopardo, encontro-me agora em Kabale, no sudoeste do Uganda.</p>
    <a class="btn btn-primary" href="#" onclick="lermaisviajarsozinhoafrica('uganda')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2>
        <a href="#">Especial Costa Atlântica de Marrocos, de El Jadida a Essaouira)</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Diogo Coelho</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 19 Abril, 2014 ás 10:45</p>
    <hr>
    <img class="img-responsive" src="img/blog/marrocos.jpg" alt="">
    <hr>
    <p>  Prefiro viajar sozinho a participar em press trips porque detesto viajar em manada e, regra geral, os organizadores pensam que quanto mais “atrações turísticas” mostrarem melhor, deixando pouco espaço para o contacto com as pessoas, para visitar aspetos do quotidiano como as ruas, os mercados ou, simplesmente, para sentar numa esplanada a absorver o dia-a-dia de uma localidade.</p>
    <a class="btn btn-primary" onclick="lermaisviajarsozinhoafrica('marrocos')" href="#">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2>
        <a href="#">Cidade do Cabo / Cape Town</a>
    </h2>
    <p class="lead">
        by <a href="index.php">Diogo Amaral</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Postado em 8 junho, 2013 ás 10:45 </p>
    <hr>
    <img class="img-responsive" src="img/blog/cape.jpg" alt="">
    <hr>
    <p>Quem acha que férias em África é só sol e calor está muito enganado. Não só não temos apanhado muito calor como ainda levámos com a primeira tempestade do inverno Sul Africano na Cidade do Cabo, com direito a granizo e ruas completamente brancas da camada de gelo. Queríamos vir conhecer o Cabo da Boa Esperança e ficámos a conhecer também o Adamastor enfurecido!...</p>
    <a class="btn btn-primary" onclick="lermaisviajarsozinhoafrica('cape')" href="#">Ler Mais<span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>

</div>