﻿<!-- Blog Entries Column -->
<h1 class="page-header">
    Viajar em Grupo
    <small>América</small>
</h1>
<!-- First Blog Post -->
<h2>
    <a href="#">Dicas de Isla Mujeres</a>
</h2>
<p class="lead">
    <a href="index.php">Catarina Vinagre</a>
</p>
<p><span class="glyphicon glyphicon-time"></span> Postado a 24 Agosto, 2013 ás 9:00</p>
<hr>
<img class="img-responsive" src="../../img/blog/imggrupo/cancun.jpg" alt="">
<hr>
<p>Esta simpática ilha está pertinho de Cancún. Em minha passagem por Cancún não deixei de visitá-la e achei um encanto! Muito gostosa e charmosa! Tire um dia porque vale muito a visita e se preferir, pode esticar um pouquinho mais!</p>
<a class="btn btn-primary" href="#" onclick="lermaisviajargrupo('cancun')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
<hr>
<!-- Second Blog Post -->
<h2>
    <a href="#">RIO DE JANEIRO - PÃO DE AÇÚCAR E ALMOÇO NO BAR URCA</a>
</h2>
<p class="lead">
   <a href="index.php">Ana Carolina e Elton Sampaio</a>
</p>
<p><span class="glyphicon glyphicon-time"></span> Postado em 28 Agosto, 2013 ás 10:45</p>
<hr>
<img class="img-responsive" src="../../img/blog/imggrupo/rio.jpg" alt="">
<hr>
<p> O Rio é enorme. Sou nascida e criada aqui e confesso que ainda há lugares que me surpreendem. Ou porque são realmente incríveis ou porque são novos e ainda não explorados. Esses dias levei meus sogros, cearenses, ao Pão de Açúcar. </p>
<a class="btn btn-primary" href="#" onclick="lermaisviajargrupo('riojaneiro')">Ler Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
<hr>
<!-- Third Blog Post -->
<h2>
    <a href="#">Bahamas</a>
</h2>
<p class="lead">
     <a href="index.php">Luciana Abreu e Pedro Pinto</a>
</p>
<p><span class="glyphicon glyphicon-time"></span> Postado em 28 Agosto, 2013 ás 10:45 </p>
<hr>
<img class="img-responsive" src="../../img/blog/imggrupo/bahamas.jpg" alt="">
<hr>
<p>Em novembro do ano passado queríamos aproveitar o feriadão de Thanksgiving nos Estados Unidos e conhecer algum lugar novo. Pesquisamos um pouquinho e veio a ideia de ir a Bahamas, acredite se quiser, mas com menos de uma horinha de vôo de Miami ou Ft.</p>
<a class="btn btn-primary" href="#" onclick="lermaisviajargrupo('bahamas')">Ler Mais<span class="glyphicon glyphicon-chevron-right"></span></a>
<hr>
