﻿

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->
            <!-- Title -->
            <h1 id="title"> </h1>

            <!-- Author -->
            <p class="lead">
                <a href="#" id="author"> </a>
            </p>
            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time" id="datePost"></span> </p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="img/blog/panama.jpg" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">
                <div id="viajarSozinhoAmericaPanama"> </div>
            </p>

            <hr>

           

        </div>
