﻿<!-- Page Content -->
<div class="container">
    <div class="text-center">
        <h2>CRUZEIROS</h2>
        <h4>navegue por um mar de sonhos</h4>
    </div>
    <div class="row">
        <div class="row">
            <!--IMAGEM 1-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/cruzeiros/caraibas.png" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 850€</h4>
                            <h3 id="cruzCaraibas"><b>Caraibas</b></h3>
                        <p>Caraibas Ocidentais, Jamaica, Cayman, Mexico, Bahamas</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="#cruzeiroscaraibas" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('cruzCaraibas')">+Info</a>
                        </p>
                    </div>
                    
                </div>
            </div>
            <!--IMAGEM 2-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/cruzeiros/cruisenoruega.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 1.109€</h4>
                            <h3 id="cruzNoruega"><b>Cruzeiro Noruega</b></h3>
                        <p>Fiordes na Noruega(Alemanha, Dinamarca e Noruega)</p>
                    </div>
                    <div class="ratings">
                        
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('cruzNoruega')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 3-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/cruzeiros/disneycruise.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 800€</h4>
                            <h3 id="cruzDisney"><b>Disney</b></h3>
                        <p>Cruzeiro da Disney</p>
                    </div>
                    <div class="ratings">
                       
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('cruzDisney')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 4-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/cruzeiros/grecia2.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 852€</h4>
                            <h3 id="cruzGrecia"><b>Grécia</b></h3>
                        <p>Grécia e Croácia (Mediterraneo e Adriático)</p>
                    </div>
                    <div class="ratings">
                        
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('cruzGrecia')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 5-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/cruzeiros/veneza.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 706€</h4>
                            <h3 id="cruzVeneza"><b>Veneza</b></h3>
                        <p>Itália e Croátia (Mediterraneo e Adriático)</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('cruzVeneza')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>