﻿<!-- Page Content -->
<div class="container">
    <div class="text-center">
        <h2>DISNEYLAND</h2>
        <h4>realize um sonho</h4>
    </div>
    <div class="row">
        <div class="row">
            <!--IMAGEM 1-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/disneyland/disney2.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 363€</h4>
                            <h3  id="disney1"><b>Disneyland Paris</b></h3>
                        <p>3 DIAS | ENTRADAS ATÉ JULHO '16</p>
                        <p><b>INCLUI: </b>2 noites em hotel Disney | pequeno-almoço | 3 dias de entradas nos 2 parques Disney</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('disneyParis')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 2-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/disneyland/disneyprimavera.png" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 377€</h4>
                            <h3 id="disney2"><b>Primavera Disneyland Paris</b></h3>
                        <p>3 DIAS | ENTRADAS ATÉ MAIO '16</p>
                        <p><b>INCLUI: </b>2 noites em hotel Disney | pequeno-almoço | 3 dias de entradas nos 2 parques Disney</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('disneyPrimavera')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 3-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/disneyland/disneyinverno.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 350€</h4>
                            <h3 id="disney3"><b>Inverno Disneyland Paris</b></h3>
                        <p>3 DIAS | ENTRADAS ATÉ NOVEMBRO '16</p>
                        <p><b>INCLUI: </b>2 noites em hotel Disney | pequeno-almoço | 3 dias de entradas nos 2 parques Disney</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('disneyInverno')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 4-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/disneyland/disneyverao.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">desde 377€</h4>
                            <h3 id="disney4"><b>Verão Disneyland Paris</b></h3>
                        <p>3 DIAS | ENTRADAS DE JUNHO A SETEMBRO '16</p>
                        <p><b>INCLUI: </b>2 noites em hotel Disney | pequeno-almoço | 3 dias de entradas nos 2 parques Disney</p>

                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('disneyVerao')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>