﻿<!-- Page Content -->
<div class="container">
    <div class="text-center">
        <h2>ESCAPADINHAS</h2>
        <h4>Pacotes especiais para escapadinhas a dois</h4>
    </div>
    <div class="row">
        <div class="row">
            <!--IMAGEM 1-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/escapadinhas/beiramar.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">79€</h4>
                            <h3 id="escap1"><b>À Beira Mar</b></h3>
                        <p>NAZARÉ - 7 SAIAS, 7 EXPERIÊNCIAS</p>
                        <p><b>INCLUI: </b>1 noite no Hotel Miramar | pequeno-almoço e jantar | degustação 7 esperiências com bebidas incluídas</p>

                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('escapadinhaBeiraMar')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 2-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/escapadinhas/romance.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">56€</h4>
                            <h3 id="escap2"><b>Romance</b></h3>
                        <p>ÉVORA - ESPECIAL ROMANCE</p>
                        <p><b>INCLUI: </b>1 noite Casa do Vale Hotel | pequeno-almoço e jantar romântico | espumante, frutos vermelhos e chocolate no quarto</p>

                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('escapadinhaRomance')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 3-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/escapadinhas/sabores.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">75€</h4>
                            <h3 id="escap3"><b>Sabores</b></h3>
                        <p>PENALVA DO CASTELO - ROTA DOS VINHOS DO DÃO</p>
                        <p><b>INCLUI: </b>1 noite Casa Ínsua Hotel 5 Estrelas | pequeno-almoço | provas de vinhos | visita</p>

                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('escapadinhaSabores')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 4-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/escapadinhas/serraestrela2.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">78€</h4>
                            <h3 id="escap4"><b>Serra da Estrela</b></h3>
                        <p>HOTEL DA SERRA DA ESTRELA 4*</p>
                        <p><b>INCLUI: </b>3 noites | pequeno-almoço | 1 dia de forfaits</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('escapadinhaSerra')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 5-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/escapadinhas/spa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">129€</h4>
                            <h3 id="escap5"><b>SPA</b></h3>
                        <p>GERÊS - PROGRAMA NATUREZA E SAÚDE</p>
                        <p><b>INCLUI: </b>2 noites no Águas do Gerês Hotel Termas & SPA | jantar | acesso spa | museu Etnográfico</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('escapadinhaSPA')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>