﻿<!-- Page Content -->
<div class="container">
    <div class="text-center">
        <h2>GRANDES VIAGENS</h2>
        <h4>esqueça por um pouco a sua realidade</h4>
    </div>
    <div class="row">
        <div class="row">
            <!--IMAGEM 1-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/grandesViagens/africa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">3.749€</h4>
                            <h3 id="grand1"><b>Madagáscar</b></h3>
                        <p>ESSÊNCIAS DO SUL</p>
                        <p><b>INCLUI: </b>11 noites no Sul da Ilha | visita capital - Antananarivo | Parque Nacional Amdasibe</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('gViagemMadagascar')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 2-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/grandesViagens/americacentro.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">1.429€</h4>
                            <h3 id="grand2"><b>América Central</b></h3>
                        <p>PANAMÁ - CIDADE E PRAIA - PLAYA BLANCA</p>
                        <p><b>INCLUI: </b>7 noites | visita labirinto atmosférico de igrejas, praças e palácios da cidade velha</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('gViagemAmericaCentral')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 3-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/grandesViagens/americadonorte2.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">1.335€</h4>
                            <h3 id="grand3"><b>América do Norte</b></h3>
                        <p>MIAMI É VICIANTE</p>
                        <p><b>INCLUI: </b>8 noites | visitas livres | meio dia com guia turístico</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('gViagemAmericaNorte')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 4-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/grandesViagens/americadosul.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">1.768€</h4>
                            <h3 id="grand4"><b>América do Sul</b></h3>
                        <p>COLOMBIA, O PAÍS DO EL DORADO</p>
                        <p><b>INCLUI: </b>6 noites | descubra o El Dorado da América do Sul</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('gViagemAmericaSul')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 5-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/grandesViagens/asia.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">999€</h4>
                            <h3 id="grand5"><b>Ásia</b></h3>
                        <p>ESSÊNCIAS DO SRI LANKA</p>
                        <p><b>INCLUI: </b>7 noites no Pegasus Reef | meia pensão | cultura, história e gastronomia</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('gViagemAsia')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 6-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/grandesViagens/dubai.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">570€</h4>
                            <h3 id="grand6"><b>Dubai</b></h3>
                        <p>SUPER DUBAI</p>
                        <p><b>INCLUI: </b>4 noites | aproveite para conhecer este oásis do deserto</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('gViagemDubai')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 7-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/grandesViagens/ny.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">1.350€</h4>
                            <h3 id="grand7"><b>Nova Iorque</b></h3>
                        <p>NOVA IORQUE É MÁGICA</p>
                        <p><b>INCLUI: </b>4 noites de regime só Alojamento | visita em idioma espanhol | passeios livres </p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('gViagemNI')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 8-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/grandesViagens/mediooriente.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">570€</h4>
                            <h3 id="grand6"><b>Médio Oriente</b></h3>
                        <p>ESSÊNCIAS DA JORDÂNIA</p>
                        <p><b>INCLUI: </b>6 noites | meia pensão | visitas e entradas em monumentos</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('gViagemOriente')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>