﻿<!-- Page Content -->
<div class="container">
    <div class="text-center">
        <h2>PRAIAS E ILHAS </h2>
        <h4>Umas férias a recordar</h4>
    </div>
    <div class="row">
        <div class="row">
            <!--IMAGEM 1-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/praiasIlhas/brasil.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">913€</h4>
                            <h3 id="praia1"><b>Salvador</b></h3>
                        <p>BRASIL - SALVADOR</p>
                        <p><b>INCLUI: </b>7 noites Vila Galé Salvador | reune presente, passado, cores, sabores, culturas, raças</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('praiaSalvador')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 2-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/praiasIlhas/caboverde.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">598€</h4>
                            <h3 id="praia2"><b>Cabo Verde</b></h3>
                        <p>ILHA DO SAL</p>
                        <p><b>INCLUI: </b>7 noites de alojamento na Ilha do Sal | Aproveite a maravilha da natureza</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('praiaCaboVerde')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 3-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/praiasIlhas/caraibas5.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">941€</h4>
                            <h3 href="#" id="praia3"><b>Caraibas</b></h3>
                        <p>PUNTA CANA</p>
                        <p><b>INCLUI: </b>7 noites | tudo incluído | Tenha as malas prontas e agarre esta oportunidade!</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('praiaCaraibas')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 4-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/praiasIlhas/espanha.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">346€</h4>
                            <h3 id="praia4"><b>Espanha</b></h3>
                        <p>MAIORCA - CIDADE JARDIN, CAN PASTILLA</p>
                        <p><b>INCLUI: </b>6 noites | desfrutar de praias, próximo do centro da cidade | várias tradições</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('praiaEspanha')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 5-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/praiasIlhas/maldivas.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">1.359€</h4>
                            <h3 id="praia5"><b>Exóticas</b></h3>
                        <p>MALDIVAS - LUGARES GARANTIDOS</p>
                        <p><b>INCLUI: </b>7 noites estadia no Hotel | praias exóticas para desfrutar sem preocupações</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('praiaExótica')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 6-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/praiasIlhas/saotome.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$1.026€</h4>
                            <h3 id="praia6"><b>São Tomé</b></h3>
                        <p>ENVOLVA-SE NO CENÁRIO</p>
                        <p><b>INCLUI: </b>7 noites estadia no Hotel | descanse em águas quentes e cristalinas | mergulho</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('praiaSaoTome')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>