﻿<div class="container-fluid">
    <div class="text-center">
        <h2>Desfrute</h2>
        <h4>realize uma viagem inesquecivel</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Mauricias</h1>
                </div>
                <div class="thumbnail">
                    <img src="../../img/pacotes/promocoes/mauricias.jpg" alt="">
                    <p><strong>INCLUI: </strong></p>
                    <p>7 noites | pequeno-almoço e jantar</p>
                </div>
                <div class="panel-footer">
                    <h3>1.379€</h3>
                    <a href="#" type="button" class="btn btn-primary" onclick="infoPacotes('mauricias')">+Info</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Porto Seguro</h1>
                </div>
                <div class="thumbnail">
                    <img src="../../img/pacotes/promocoes/portoseguro.jpg" alt="">
                    <p><strong>INCLUI: </strong></p>
                    <p>7 noites | Não perca esta oportunidade</p>
                </div>
                <div class="panel-footer">
                    <h3>967€</h3>
                    <button class="btn btn-primary" onclick="infoPacotes('portoSeguro')">+Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Agadir</h1>
                </div>
                <div class="thumbnail">
                    <img src="../../img/pacotes/promocoes/agadir.jpg" alt="">
                    <p><strong>INCLUI: </strong></p>
                    <p>7 noites | pequeno-almoço ou meia pensão</p>
                </div>
                <div class="panel-footer">
                    <h3>430€</h3>
                    <button class="btn btn-primary" onclick="infoPacotes('agadir')">+Info</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="row">
            <!--IMAGEM 1-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/promocoes/albufeira.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">56€</h4>
                            <h3 id="promo1"><b>Algarve</b></h3>
                        <p>ALBUFEIRA - ESPECIAL VERÃO</p>
                        <p><b>INCLUI: </b>5 noites Hotel Balala Atlântico | visitas turísticas | não inclui refeições</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('algarve')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 2-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/promocoes/caraibas.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">1.034€</h4>

                            <h3 id="promo2"><b>Caraíbas</b></h3>
                        <p>CANCUN - OFERTA ESPECIAL</p>
                        <p><b>INCLUI: </b>7 noites de estadia | regime tudo incluido | Os lugares são limitados</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('caraibas')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--IMAGEM 3-->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="../../img/pacotes/promocoes/montenegro.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">799€</h4>
                        <h3  id="promo3"><b>Montenegro</b></h3>
                        <p>PRÉ-RESERVA VERÃO</p>
                        <p><b>INCLUI: </b>7 noites de estadia | pensão incluída | descubra um destino surpreendente</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <a href="#" type="button" class="btn btn-primary pull-right" onclick="infoPacotes('montenegro')">+Info</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>